body{
    font-family: 'Poppins', sans-serif;
}


.top-nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 32px;
    align-items: center;
    padding: 0 17px 0 17px;
}

.top-left{
    display: flex;


}

.top-right{
    display: flex;
    
}


.top-links a{
    text-decoration: none;
    color: #b6b6b6;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    padding: 5px;
}